.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-with: 52px;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.setting {
    padding: 4px 8px;
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    background-color: transparent;
}

// avatar

.header-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 16px;
}

// icon-btn

.icon-btn {
    width: 40px;
    font-size: 2.4rem;
    background-color: transparent;
    + .icon-btn {
        margin-left: 16px;
    }
}

// logo

.logo-link {
    display: flex;
}
